// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #2b2b2b;

// Primary/body text
$mainFont: 'Lato', sans-serif;
$mainFontSize: 40px;
$mainColor: #eee;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'League Gothic', Impact, sans-serif;
$headingColor: #eee;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #13DAEC;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}

// Custom Styles

.title-green {
  color: #203020;
  font-style: italic;
  /* font-weight: bolder; */
  position: relative;
  text-shadow: 0 0 170px white;
}

@font-face {
  font-family: dattermatter;
  src: url('/lib/font/dattermatter/DattermatterPersonalUse.ttf')
}

.font-old {
	font-family: dattermatter !important;
	text-transform: initial !important;
	font-weight: normal !important;
}

/* .title-green::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #F7F8F6AA;
  padding: 0.2em;
  border-radius: 100px;
  box-shadow: 0px 0px 300px #F7F8F6;
} */